[role="button"].game
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.25em;

	color: unset;
	margin: 1em;
	width: auto;

	.player
	{
		flex: 1;

		font-weight: 600;
		vertical-align: middle;

		&.green { color: var(--green); text-align: right; }
		&.red { color: var(--red); text-align: left; }
	}

	.vs
	{
		margin: auto 0.25em;

		color: var(--vs);
		font-size: 1.33em;
		font-weight: 800;

		vertical-align: middle;
	}
}
