header h1
{
	.green
	{ color: var(--green); }
	.red
	{ color: var(--red); }
}

main.game
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	.player-turn
	{
		margin: 2.5em auto 0;
	}
}
