
button, a[role="button"]
{
	display: block;

	margin: 0.5em auto;
	padding: 0.75em 1em;
	width: fit-content;
	border-radius: 0.33em;

	border: solid var(--primary-darker) medium;
	background: var(--primary);
	color: var(--background);
	text-decoration: none;
}
