{% extends "base.html.twig" %}

{% block body %}
	<main class="join">
		<form method="POST" action="{{ path("joinGame") }}">
			<input type="hidden" name="game" value="{{ gameId }}" />

			<label for="player-name">
				Enter your name
				<input type="text" id="player-name" name="name" placeholder="Your public player name" min="1" required />
			</label>

			<button>Join the game</button>
		</form>
	</main>
{% endblock %}
