{% extends "base.html.twig" %}

{% block body %}
	<main class="new">
		<form method="POST" action="{{ path("newGame") }}">

			<label for="player-name">
				Enter your name
				<input type="text" id="player-name" name="name" placeholder="Your public player name" min="1" required />
			</label>

			<button name="type" value="online">Create the game</button>

		</form>
	</main>
{% endblock %}
