.move-actions-bar
{
	position: fixed;
	bottom: 5em;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.66em;

	padding: 0.66em;
	border-radius: 0.5em;

	background: var(--foreground);

	button
	{
		margin: 0;
		padding: 0.66em;
		width: fit-content;
	}

	animation: fade-in 0.3s;
}
