{% extends "base.html.twig" %}

{% block body %}
	<main class="home">
		<form action="{{ url("newGame") }}" method="POST">
			<button name="type" value="local">Create a local game</button>
		</form>

		<a class="button" href="{{ url("newGame") }}">Play with a friend</a>
	</main>
{% endblock %}
