{% extends "base.html.twig" %}

{% block body %}
	<main class="home">
		<a class="button" href="/local">Play a local game</a>
		<a class="button" href="/online/new">Play with a friend</a>
	</main>
{% endblock %}
