
button, a[role="button"]
{
	transition: transform 0.2s ease;

	display: block;

	margin: 0.5em auto;
	padding: 0.75em 1em;
	width: fit-content;
	border-radius: 0.33em;

	border: solid var(--primary-darker) medium;
	background: var(--primary);
	color: var(--background);
	text-decoration: none;

	&:active
	{
		transform: scale(0.9);
	}

	&:disabled
	{
		border-color: var(--disabled-button-border);
		background: var(--disabled-button);
		opacity: 0.75;
	}

	&.cancel, &.remove, &.delete, &.red
	{
		border-color: var(--red-button-border);
		background: var(--red-button);
	}

	.icon
	{
		margin-right: 0.25em;
	}
}
