html, body
{
	margin: 0;
	padding: 0;
}
body
{
	height: 100vh;

	background: var(--background);
	color: var(--foreground);
}

body, input, textarea, button
{
	font-family: var(--main-font);
}

a
{
	color: var(--primary);
}

p
{
	&.center
	{
		text-align: center;
	}
}

