:root
{
	@background: #FFFFFF; --background: @background;
	@foreground: #141414; --foreground: @foreground;
	@gray: #A9A9A9; --gray: @gray;
	@lightgray: #BFBFBF; --lightgray: @lightgray;


	@primary: #0062C3; --primary: @primary;
	@primary-darker: #0054A8; --primary-darker: @primary-darker;

	@green: #1C820F; --green: @green;
	@red: #C30000; --red: @red;
	@vs-border: #bf620b; --vs-border: @vs-border;
	@vs: #e7770e; --vs: @vs;

	@board-border: #545454; --board-border: @board-border;
	@board-background: #F4F4F4; --board-background: @board-background;
	@board-green-background: fade(@green, 25%); --board-green-background: @board-green-background;
	@board-red-background: fade(@red, 25%); --board-red-background: @board-red-background;

	@board-cell-clickable-hover: rgba(0, 0, 0, 0.1); --board-cell-clickable-hover: @board-cell-clickable-hover;
}
