.pawn
{
	display: block;

	margin: auto;
	width: 1.66em;
	height: 1.66em;
	border-radius: 1.66em;
	box-sizing: border-box;

	background: var(--board-border);

	&.red
	{ background: var(--red); }
	&.green
	{ background: var(--green); }

	&.virtual
	{
		opacity: 0.5;
		transform: scale(0.75);
	}

	box-shadow: inset 1em 0 0.75em 0 rgba(255, 255, 255, 0.2), inset -0.75em 0 0.75em 0 rgba(0, 0, 0, 0.15), 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.33);
	transform: translate(-0.05em, -0.05em);
}
