<div class="turn">
	{% if canPlay %}
		{% if isMoveStarted() %}
			<p>Moves :</p>
			<ol class="moves">
				{# Show all visited cells in the move. #}
				{% for cell in getCurrentMove() %}
					<li>{{ cell }}</li>
				{% endfor %}
			</ol>

			<form method="POST" action="{{ path("move_end") }}">
				<input type="hidden" name="gameId" value="{{ gameId }}" />
				<button>End turn</button>
			</form>
		{% else %}
			<p>Select a pawn to move</p>
		{% endif %}
	{% else %}
		<p>Wait for your opponent to move...</p>
	{% endif %}
</div>
